.Todo {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 50px auto;
    min-height: 20px;
    padding: 20px;
    text-align: left;
    width: 70%;
    }
    .Todo ul {
    margin: 20px 0px;
    padding: 0;
    list-style: none;
    }
    .Todo ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 10px 15px;
    }
    .Todo ul li .hide {
    visibility: hidden;
    }
    .Todo ul li.completed {
    background-color: #dff0d8;
    }
    .Todo ul li .actions {
        display: flex;
        justify-content: space-between;
        width: 40px;
        }
        .Todo ul li span {
        cursor: pointer;
        }
        .Todo ul li .done {
            color: #79c41d;
            display: block;
            }
            .Todo ul li .trash {
            color: #c41d1d;
            display: block;
            }
            .Todo form input {
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            color: #555;
            font-size: 14px;
            height: 34px;
            line-height: 34px;
            padding: 6px 12px;
            width: 40%;
            }    